{:source-paths ["src"]

 :dependencies [[binaryage/oops "0.7.1"]
                [crate "0.2.5"]
                [clj-petitparser "0.1.1"]]

 :nrepl {:port 9000
         :middleware []}

 :dev-http {8081 ["public"
                  "public/test"]}

 ; Fix nREPL bug when using accented characters in a source file
 :jvm-opts ["-Dfile.encoding=UTF8"]

 :builds {:app {:target :browser
                :output-dir "public/main/js"
                :compiler-options {:infer-externs :auto
                                    ;:pseudo-names true
                                    ;:pretty-print true
                                   }
                :modules {:main {:init-fn nlr.main/init}}}}}
