.left-panel {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
}

.right-panel {
    position:absolute;
    right: 0;
    width: 50%;
    height: 100%;
}

.red {
    background-color: red;
}

.fullscreen {
    position: absolute;
    width: 100%;
    height: 100%;
}